@charset 'UTF-8';
@import 'common/main';
@import url('toolkit-storybook/dist/toolkit-storybook.css');

html {
  font-size: 4.3vw;
  font-family: 'Helvetica', 'Arial', 'LiHei Pro', 'Microsoft YaHei UI', 'sans-serif';
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: $background;
}
a {
  text-decoration: none;
  text-decoration-color: initial;
  color: inherit;
}
* {
  outline: 0;
}
.btn {
  padding: 0;
  color: $white;
  border-radius: 0.8vh;
  line-height: 0;
}
.modal-content {
  color: lighten( $primary, 30% );
  font-size: $h4;
  margin: $h2;
  text-align: center;
}
input[type="radio"], input[type="checkbox"] {
  margin-right: 1vw;
}
