// Black
$black: #000;

// Red
$red: rgb(236, 79, 79);

// White
$white: #fff;

// Yellow
$neon-carrot: #FE9C3A;

// Blue
$blue: #30BCED;

// Theme
$primary: $black;
$secondary: $red;
$tertiary: $white;
$background: #f6f6f6;

$gray300: #E0E0E0;
$gray500: #9E9E9E;