@font-face {
  font-family: 'SURVEY';
  src:  url('~@/assets/fonts/icomoon.eot?84ryol');
  src:  url('~@/assets/fonts/icomoon.eot?84ryol#iefix') format('embedded-opentype'),
    url('~@/assets/fonts/icomoon.woff2?84ryol') format('woff2'),
    url('~@/assets/fonts/icomoon.ttf?84ryol') format('truetype'),
    url('~@/assets/fonts/icomoon.woff?84ryol') format('woff'),
    url('~@/assets/fonts/icomoon.svg?84ryol#SURVEY') format('svg');
}

.yif {
  font-family: 'SURVEY';
  display: inline-block;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.3vw;
}

/* code */
.icon-add-outline:before {
  content: "\e900";
}
.icon-add-solid:before {
  content: "\e901";
}
.icon-checkmark-outline:before {
  content: "\e902";
}
.icon-close-outline:before {
  content: "\e903";
}
.icon-compose:before {
  content: "\e907";
}
.icon-news-paper:before {
  content: "\e909";
}
.icon-minus-solid:before {
  content: "\e908";
}
.icon-minus-outline:before {
  content: "\e905";
}
.icon-star-full:before {
  content: "\e90a";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-trash:before {
  content: "\e906";
}